@import "tailwindcss";

@font-face {
    font-family: font1;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/Fonts/SourceSans3-Black.ttf");
    
}

@font-face {
    font-family: font2;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/Fonts/OpenSans_Condensed-Bold.ttf");
    
}

body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}

/* @theme{
    --font-display: "font1", sans-serif;
    --font-display: "font2", sans-serif;
} */





/* ::-webkit-scrollbar
{
    
} */

/* ::-webkit-scrollbar-thumb{ 
 
    height: 10px;
    background-color: oklch(64.6% 0.222 41.116);
    border-radius: 100px;
    border-color: white;
    border-style: double;

} */

  /* https://grabient.com/HQFgrA7ANKBsCcMBMBGWMTyRsJlL2AA5YwYJ4BmGI3GWEQsJaS0ABnZhTGpThQxmg9kA  */