@import "tailwindcss";

@font-face {
    font-family: font1;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/Fonts/SourceSans3-Black.ttf");
    
}

@font-face {
    font-family: font2;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/Fonts/OpenSans_Condensed-Bold.ttf");
    
}

@theme{
    --font-display: "font1", sans-serif;
    --font-display: "font2", sans-serif;

}

body,html{
    width: 100%;
    height: 100%;
    background-color: #222831;
    overflow: hidden;
}